html {
    position: relative;
    min-height: 100%
}

body {
    padding-top: 70px;
    padding-bottom: 55px;
    background-color: rgba(0, 0, 0, .3);
}

a {
    color: #000;
    transition: ease-in-out color .15s;
}

a:hover {
    color: #000;
    text-decoration: none;
}